.DS_Store
node_modules
/dist
/target
/.svelte-kit
/package
/logs
.env
.env.*
!.env.example
*.kra
*.kra~
ticks.txt
.yarn/*
/secrets
src/lib/test/mayhem-manager/*.json
analysis/wordlist1.txt
analysis/wordlist2.txt
analysis/rolls.txt
analysis/new_words.csv
analysis/rolls.json