:root {
  --bg-fun-1: #311;
  --bg-fun-2: #755;
  --bg-fun-3: #632;
  --text-fun-1: #ddd;
  --text-fun-2: #aaa;
  --text-fun-3: #111;
  --text-fun-4: #d7d7d7;
  --accent-fun-1: #e99;
  --accent-fun-2: #633;
  --accent-fun-3: #522;

  --font-fun: "Comic Sans MS", "Chalkduster";
}

 .fun {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  justify-content: stretch;
  align-items: stretch;

  background-color: var(--bg-fun-1);
  color: var(--text-fun-1);
  font-family: var(--font-fun);
}

 .fun button {
  font-family: inherit;
  color: inherit;
  background-color: var(--bg-fun-2);
  border-color: var(--text-fun-2);
}

 .fun button:hover,
 .fun button:active {
  background-color: var(--accent-fun-2);
}

 .fun button:hover {
  color: var(--text-fun-4);
}

 .fun button:hover:active,
 .fun button:active {
  color: var(--text-fun-1);
}

 .fun h2 {
  font-family: inherit;
  font-weight: 600;
  color: var(text-fun-2);
}