:root {
  --bg-fun: #888;
  --bg-fun-dark: #777;
  --bg-fun-darker: #555;
  --bg-fun-light: #999;
  --text-fun: #111;

  --font-fun: "Comic Sans MS", "Chalkduster";
}

html,
body,
#svelte {
  position: absolute;
  min-height: 100vh;
  justify-content: stretch;
  align-items: stretch;

  background-color: var(--bg-fun);
  color: var(--text-fun);
  font-family: var(--font-fun);
}